// $headingColor: #3cb2c1;
// $divider: #1f6e79;
// $email: #d1b973;
// $phone: #c1786a;
// $findMeOn: #55b3a1;
// $rightSection: #474a51;
// $leftSide: #454343;
$color1: #5868e8;
$color2: #272727;
$color3: #fefdfb;
$color4: #272727;
$color5: #a9a9a9;
$color6: #E9B200;
